<div id="target-template-javascript-contenteditable-name" class="overflow-auto">
</div>
<template id="template-javascript-contenteditable-name-error">
    <div id="template-javascript-contenteditable-name-error-div" class="alert alert-danger">
        <p>error</p>
    </div>
</template>
<template id="template-javascript-contenteditable-name-success">
    <div id="template-javascript-contenteditable-name-success-div" class="alert alert-success">
        <p>error</p>
    </div>
</template>
