.navbar-brand {

  img {
    width: 100px;
  }

  p {
    color: $dark;
    font-family: $font-family-special;
    font-size: 30px;
    line-height: 0.8;
    margin-top: 5px;
    transform: rotate(-3deg);
    -webkit-font-smoothing: antialiased;
  }
}

.navbar-menu {
  box-shadow: 0 5px 10px $black;
  position: fixed;
  overflow-x: scroll;

  &.fixed-bottom.navbar-dark .navbar-nav .nav-link {

    &:focus,
    &:hover {
      color: $white;
    }
  }

  .navbar-brand {
    box-shadow: 0 -5px 10px #314A59;
  }

  .navbar-nav .nav-link {
    color: $light;
    margin-top: -20px;
    padding: 0 1rem 1rem;
    text-align: center;

    .icon {
      font-size: 3rem;
    }

    &.active {
      color: $white;
    }
  }
}

@include media-breakpoint-up(md) {

  .navbar-menu {
    box-shadow: -5px 0 10px $dark;
    overflow-x: hidden;
    overflow-y: scroll;

    .navbar-brand {
      min-height: 170px;
      box-shadow: none;

      p {
        color: $white;
        font-size: 70px;
        margin-top: 10px;
        transform: rotate(-10deg);
      }
    }

    .navbar-nav .nav-link {
      background-color: $white;
      border-left: none;
      border-top: 2px solid $dark;
      color: $dark;
      font-family: $font-family-special;
      font-size: 30px;
      margin-top: 0;
      padding: 0 0 0 50px;

      &.active {
        background-color: $light;
        color: $dark;
      }

      .icon {
        font-size: 5rem;
        margin-right: 20px;
        margin-top: -60px;
      }

      .text {
        transition: margin 0.25s;
      }

      &:hover,
      &:focus {
        color: $dark;

      }

      &:hover {

        .text {
          margin-bottom: 10px;
          margin-top: -10px;
        }
      }
    }

    &.fixed-bottom.navbar-dark .navbar-nav .nav-link {

      &:focus,
      &:hover {
        color: $dark;
      }
    }
  }
}

@include media-breakpoint-up(lg) {

  .navbar-menu .navbar-nav .nav-link {
    padding-left: 80px;

    &.nav-link-big:before {
      left: 60px;
    }
  }
}

@include media-breakpoint-up(xl) {

  .navbar-menu .navbar-nav .nav-link {
    font-size: 40px;

    .icon {
      font-size: 5.5rem;
      margin-right: 30px;
    }
  }
}
