<p>test</p>

{#{% extends 'old/base.html.twig' %}#}

{#{% block body %}#}
{#    <header>#}
{#        <h1>Publish/Subscribe design pattern#}
{#    </header>#}
{#    <p>#}
{#        <button id="preset1">Country Music</button>#}
{#        <button id="preset2">Rock Music</button>#}
{#        <button id="preset3">Indie Music</button>#}
{#    </p>#}

{#    <p id="listeningTo">[ nothing ]</p>#}
{#    <p id="surfing">[ 0 ]</p>#}
{#{% endblock %}#}
